.help {
    background-color: #f1efe6;
    border: 1px solid #d3cdae;
    font-size: 0.9em;
    padding: 10px;
    position: relative;
    width: 300px;
    margin-left: 20px;
}

.help::before {
    border-color: transparent #d3cdae transparent transparent;
    border-style: solid;
    border-width: 14px;
    content: '';
    left: -20px;
    position: absolute;
    top: 30%;
    margin-left: -9px;
}

.tip::before{
    content: '\261e';
    margin-right: 10px;
    margin-left: 10px;
}

.tabela td {
    border: 1px solid black;
    width: 200px;
}

.coluna_1 {
    color: blue;
}

.coluna_2 {
    text-align: end;

}

.coluna_verde {
    color: green;
}

.coluna_vermelha {
    color: red;
}

